<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div
      [ngClass]="{invalid:form.get('title').touched && form.get('title').invalid}"
      class="form-control">
      <label for="title">Название поста:</label>
      <input id="title" type="text" formControlName="title">
      <div
        *ngIf="form.get('title').touched && form.get('title').invalid"
      >
        <small *ngIf="form.get('title').errors.required">Введите название поста</small>

      </div>
    </div>

    <div class="form-control">
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || submitted"
    >Обновить
    </button>
  </form>
</div>

<ng-template #loading>Загрузка...</ng-template>
